:root {
	/* Gray */
	--gray-800-primary: #000;
	--gray-700-secondary: #4c4c4c;
	--gray-600-secondary-alt: rgba(0, 0, 0, 0.5);
	--gray-500-neutral: #bcb8ca;
	--gray-400: #bdbdcd;
	--gray-300: #d6d6e3;
	--gray-200: #e7e7ef;
	--gray-100: #fff;

	/* Background */
	--background-primary: #fff;
	--background-secondary-alt: rgba(255, 255, 255, 0.15);
	--background-secondary: #f8f8f8;

	/* Purple */
	--purple-brand: #5c34f6;
	--purple-400: #a689e3;
	--purple-300: #d3c5f1;
	--purple-200: #d8d1ff;
	--purple-100: #f1edff;

	/* Red */
	--red-600: #c51311;
	--red-500: #da3f3d;
	--red-400: #ea6361;
	--red-300: #f18886;
	--red-200: #f8bab9;
	--red-100: #ffebeb;

	/* Green */
	--green-400: #5ba85a;
	--green-300: #7ec07d;
	--green-200: #95db94;
	--green-100: #c9fbc9;

	/* Yellow */
	--yellow-400: #de960c;
	--yellow-300: #cfa200;
	--yellow-200: #e8b810;

	/* Card material */
	--card-material-yellow-100: #fbf8eb;
	--card-material-yellow-200: #e3d9af;
	--card-material-yellow-300: #7a6c36;
	--card-material-blue-100: #eef3fd;
	--card-material-blue-200: #b7cbf2;
	--card-material-blue-300: #859cc8;
	--card-material-purple-100: #f9f1fc;
	--card-material-purple-200: #e7cbf1;
	--card-material-purple-300: #ae83be;
	--card-material-green-100: #f2f8f3;
	--card-material-green-200: #cbe6c5;
	--card-material-green-300: #93b38b;

	/* Bonus card */
	--bonus-card-gold-100: #faf6f0;
	--bonus-card-gold-200: #6b5c44;

	/* Link */
	--link-default: #7646ff;
	--link-visited: #a957ea;

	/* Accent */
	--accent-1: #f9b146;
	--accent-2: #32aeee;
	--accent-3: #ba58a1;
}
